/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* CSS for profile picture */
.User_Image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #eee;
}

/* Sidebar Styles */
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: black;
    transition: all 0.5s ease;
    padding: 0.4rem 0.8rem; /* Padding using rem */
}

#sub-heading {
    position: absolute;
    opacity: 0;
    left: 100px;
}

#main-heading, #subscript {
    transition: opacity 0.5s ease-in;
}

.sidebar.active {
    width: 250px;
}

.sidebar.active ~ .main_content {
    left: 250px;
    width: calc(100% - 25px);
}

.sidebar.active ~ .main_content #main-heading{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.sidebar.active ~ .main_content #subscript{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.sidebar.active ~ .main_content #sub-heading {
    left: 30px;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

/* User Section Styles */
.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

/* Styles for Navigationheadingnot
Icons */
.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* Hover Mechanics */
.sidebar ul li a:hover {
    background-color: #fff;
    color: #202229;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

/* Navigation Item Label Styles */
.sidebar .Nav_Item {
    display: none;
}

.sidebar.active .Nav_Item {
    display: inline-block;
}

/* Tooltip Styles */
.sidebar ul li .tooltip {
    position: absolute;
    left: 75px;
    top: 5%;
    background-color: white;
    transform: translateX(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    display: none;
}

.sidebar ul li:hover .tooltip {
    display: inline-block;
}

.sidebar.active ul li .tooltip {
    display: none;
}

/* Main Content Styles */
.main_content {
    position: relative;
    background-color: var(--gray);
    overflow: hidden;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: 94.75vw;
    max-width: 100%;
    padding: 1rem;
    opacity: 1;
}

.main_content:not(.dark-mode) {
	background-color: white
}

.sidebar:not(.dark-mode) {
	background-color: var(--gray)
}

/* Container Styles */
.container {
    display: flex;
    overflow: hidden;
    max-width: 99.5vw;
    background-color: bisque;
    padding: 4px 15px;
    border-radius: 10px;
}

:root {
	--dark: #111111;
	--gray: #202229;
}

.heading {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.heading:not(.dark-mode) {
	color: black
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}

.content .main_video{
    background-color: black;
    border-radius: 5px;
    padding: 10px;
}

.content .main_video:not(.dark-mode) {
	background-color: var(--gray);
}

.content .main_video video{
    width: 100%;
    border-radius: 5px;
}

.content .main_video .title{
    color: rgb(255, 255, 255);
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content .main_video .description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-top: 15px;
}

.content .video_list{
    background: black;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
}

.content .video_list:not(.dark-mode) {
	background: var(--gray);
}

.content .video_list::-webkit-scrollbar{
    width: 7px;
}

.content .video_list::-webkit-scrollbar-track{
    width: 7px;
    background: #ccc;
    border-radius: 50px;
}

.content .video_list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.content .video_list .vid video{
    width: 100px;
    border-radius: 5px;
}

.content .video_list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.content .video_list .vid:hover {
    background: #eee
}

.content .video_list .vid.active {
    background: #2980b9
}

.content .video_list .vid.active .title{
    color: #fff;
}

.content .video_list .vid .title{
    color: #333;
    font-size: 17px;
}

@media (max-width:991px){
    .container{
        grid-template-columns: 1.5fr 1fr;
        padding: 10px;
    }
}

@media (max-width:769px){
    .container{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.search-container {
    margin-bottom: 10px;
}

.search-container input[type=text] {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    outline: none;
}

.search-container button {
    padding: 10px;
    background: #ccc;
    border: none;
    cursor: pointer;
}

.main_content {
    position: relative;
}

#button1 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* Add styles for editable input field */
.editable-input {
    width: calc(100% - 20px); /* Adjust as needed */
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    font-size: inherit;
}
